---
include:
  - ./actualbudget/docker-compose.yml   # actual - budgeting
  - ./mealie/docker-compose.yml         # mealie - recipes
  - ./paperless/docker-compose.yml      # paperless - documents
  - ./glance/docker-compose.yml         # glance - dashboard
  - ./immich/docker-compose.yml         # immich - img host
  - ./chibisafe/docker-compose.yml      # chibi - file host
  - ./omni-tools/docker-compose.yml     # tools - multi tools
  - ./silverbullet/docker-compose.yml   # bullet - .md editor

services:
  nginx:
    image: nginx:alpine
    restart: always
    container_name: ${NGINX_HOST}
    env_file: .env
    working_dir: /etc/nginx/templates
    volumes:
      - ./nginx/default.conf.template:/etc/nginx/templates/default.conf.template
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/certbot-webroot:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - actual
      - mealie
      - paperless
      - glance
      - chibi
      - tools
      - bullet
